.Category_Card
{
    display: grid;
    grid-template-rows: auto;
    width: 300px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    
}

#best_seller
{
    background-color: snow;
}

.Category_Card img
{
    width: 250px;
    height: 175px;
    
}

.item_data
{
    margin-top: 80px;
}


.Page_height
{
    min-height: 77.7vh;
}

.Nav a
{
    color: white;
}

.Page_background
{
    background-color:#2596be ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.List_layout
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}